.form {
     width: 95%;
     height: auto;
     padding: 10px 5px;
     background-color: #fb8500;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
}

.textInput {
     width: 70%;
     margin-right: 15px;
     padding: 15px 15px;
     border: 1px solid #fb8500;
     border-radius: 10px;
     background-color: #03071e;
     color: #fff;
     font-size: 1.2rem;
     font-weight: 600;
}

.date {
     width: 20%;
     margin-right: 15px;
     padding: 15px 10px;
     background-color: #03071e;
     color: #fff;
     border: 1px solid #fb8500;
     border-radius: 10px;
     font-size: 1.2rem;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}

.button {
     color: #fb8500;
     display: flex;
     border:none;
     border-radius: 50%;
     justify-content: space-around;
     align-items: center;
     font-size: 3rem;
     font-weight: bolder;
     cursor: pointer;
     background-color: #03071e;
}
.button:hover {
     color: #e85d04;
}
